<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.reboot.exerc.mapper.TestMapper">

    <select id="findAllUser" resultType="com.reboot.exerc.dto.User">
        SELECT *
        FROM USER
    </select>

</mapper>